* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #F5F4EF;
  margin: 0;
}

.tableHover {
  width: 100%;
  border: 0px;
  padding: 0px;

}

.firstTable {
  font-family: Arial, sans-serif;
  font-weight: normal;
  border-collapse: collapse;
  width: 100%;
/*  border: 0px solid #dddddd; */
}

table.firstTable>td, th {
/*  border: 1px solid #dddddd; */
  text-align: left;
}


.normalText {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sendButton {
  cursor: pointer;
  width:100%;
  background-color: #E3E2DF;
  color: black;
  padding: 15px;
  text-align: center;
}

tr.sendButton td {
  border:2pt solid black;
}

.accordionRow {
  cursor: pointer;
  width:100%;
  background-color: #659DBD;
  color: white;
  border: 0px;
  padding: 15px;
  text-align:center;
}

.accordion {
  display: none;
  width: 100%;
  background-color: #FBEEC1;
  text-align: left;
  color: white;
/*  padding: 15px; */
}

.accordionContent {
width: 100%;
background-color: #FBEEC1;
text-align: left;
color: black;
padding: 15px;
}

table.tableHover>tbody>tr>td {
  width:100%;
  border: 0px;
  margin: 0px;
  padding: 15px;
  vertical-align: top;
}

.columnSettings {
  width: 33%;
  vertical-align: top;
}

/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #659DBD;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dropContainer {
  cursor: pointer;
  min-height: 160px;
  width:100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
  display:inline-block;
  text-align: center;
}

.alignright {
	text-align: right;
}

.aligncenter {
  text-align: center;
}

.information {
  color: #659DBD;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modalView {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
  background-color: #659DBD;
  border-radius: 15px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

.modalHeading {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.modalText {
  text-align: left;
  font-weight:normal;
  font-size: 14px;
  color: white;
}

.closeModal {
  color: white;
  padding-top: 9px;
  padding-right: 29px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
